<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd">
	<testsuites>
		<testsuite name="ObjectService">
			<directory>test</directory>
		</testsuite>
	</testsuites>
	<php>
		<includePath>test</includePath>
		<!--
		<var name="test.url" value="http://localhost/light-objectservice-github/test/" />
		-->
	</php>
</phpunit>